.main-content {
  padding-top: 80px; 
  height: 100%;
}
html,body{
  height: 100%;
  margin: 0;
  background-color: lightblue;
  /* text-align: center; */
}
.selectaUserLocation{
  text-align: center;
}
.userTravelPlanDiv{
  text-align: center;
}

.locationTravelPlanDiv{
  text-align: center;
} 
.createUserDiv{
  text-align: center;
}
/* .Form{
  text-align: center;
} */