.main-content {
  padding-top: 65px; 
  height: 80%;
}
html,body{
  height: 80%;
  margin: 0;
  background-color: lightblue;
}
.selectaUserLocation{
  text-align: center;
}
.userTravelPlanDiv{
  text-align: center;
  padding-top: 90px; 

}

.locationTravelPlanDiv{
  text-align: center;
  padding-top: 90px; 

} 
.createUserDiv{
  text-align: center;
  padding-top: 130px; 
}
